<form @submit.prevent v-if="store.state.General.folder === 'collections'">
    <button
        @click="change_type('group')"
        v-if="!store.state.General.content.length"
        uk-toggle="target: #my-id"
        type="button"
    >
        Add group
    </button>
    <button
        @click="change_type('item')"
        v-if="!store.state.General.content.length"
        uk-toggle="target: #my-id"
        type="button"
    >
        Add item
    </button>
    <fieldset title="test me">
        <article>
            stuff
        </article>
    </fieldset>
</form>
