<section>
    <div>
        <button @click="save_file">Save</button>
    </div>

    <collection :counter="3"></collection>

    <div v-for="tab in tabs">
        tabs: {{ tab.name }}
        <div>
            {{ tab.content }}
        </div>
    </div>

    <button @click="show_files">show files</button>

    <template v-if="store.state.General.folder">
        <ul class="uk-tab" data-uk-tab="{connect:'#content'}">
            <li v-for="tab in tabs">
                <a href="">
                    {{ tab.name }}
                    <i class="fa fa-times hover padding" aria-hidden="true" @click.stop.prevent="tab_close"></i>
                </a>
            </li>
        </ul>

        <ul id="content" class="uk-switcher">
            <li v-for="tab in tabs">
                <article id="textarea-wrapper" v-if="store.state.General.folder === 'chapters'">
                <textarea
                    id="textarea"
                    ref="textarea"
                    spellcheck="true"
                    @keydown.tab.prevent="insert_tab"
                    :value="tab.content"
                >
                </textarea>
            </article>

            <CollectionList :change_type="change_type" v-else />
        </li>
    </ul>
    </template>
    <template>
        <div>
            Make a selection from the left
        </div>
    </template>


    <Modal :add_item="add_item" :type="type" />
</section>
