<section>
    <div>
        <button @click="save_file">Save</button>
    </div>

    <collection :counter="3"></collection>

    <button @click="show_files">show files</button>

    <template v-if="tabs.length">
        <ul id="tabs" class="uk-tab" data-uk-tab="{connect:'#content'}" style="flex-wrap: nowrap;">
            <li v-for="tab in tabs" :data-folder="tab.folder" :data-file="tab.name">
                <a href="">
                    {{ tab.name }}
                    <i class="fa fa-times hover padding" aria-hidden="true" @click.stop.prevent="close_tab({folder: tab.folder, name: tab.name})"></i>
                </a>
            </li>
        </ul>

        <ul id="content" class="uk-switcher">
            <li v-for="tab in tabs">
                <article
                    id="textarea-wrapper"
                    v-if="tab.folder === 'chapters'"
                >
                    <textarea
                        id="textarea"
                        ref="textarea"
                        spellcheck="true"
                        @keydown.tab.prevent="insert_tab"
                        :value="tab.content"
                    >
                    </textarea>
                </article>

                <CollectionList :change_type="change_type" v-else />
            </li>
        </ul>
    </template>
    <template v-else>
        <div>
            Make a selection from the left
        </div>
    </template>
    <Modal :add_item="add_item" :type="type" />
</section>
