<div id="app">
    <aside id="sidebar" v-if="store.state.General.folder">
        <sidebar/>
    </aside>
    <div v-if="store.state.General.folder">
        <writing/>
    </div>
    <!-- <router-view class='main-view' v-if="store.state.General.folder"/> -->
    <div id='select_folder' v-if="!store.state.General.folder">
        <div>
            <div>
                Select a folder to begin
            </div>
            <button v-on:click="open_folder">Select folder</button>
        </div>
    </div>
</div>
