<div id="app">
    <aside id="sidebar" v-if="store.state.General.folder">
        <sidebar/>
    </aside>
    <main v-if="store.state.General.folder">
        <writing/>
    </main>
    <!-- <router-view class='main-view' v-if="store.state.General.folder"/> -->
    <div id='select_folder' v-if="!store.state.General.folder">
        <div>
            <div>
                Select a folder to begin
            </div>
            <button v-on:click="open_folder">Select folder</button>
        </div>
    </div>

    <!-- This is the modal -->
    <div id="my-id" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Add Group</h2>
            <div class="uk-modal-body">
                <div>
                    Name:
                </div>
                <input type="text" />
            </div>
            <div class="uk-modal-footer">
                <div class="uk-float-right">
                    <button class="uk-modal-close" type="button">Ok</button>
                    <button class="uk-modal-close" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
