<div id="app">
    <template v-if="store.state.General.root">
        <aside id="sidebar">
            <sidebar/>
        </aside>
        <main>
            <writing/>
        </main>
    </template>
    <!-- <router-view class='main-view' v-if="store.state.General.folder"/> -->
    <div id='select_folder' v-else>
        <div>
            <div>
                Select a folder to begin
            </div>
            <button v-on:click="select_root">Select folder</button>
        </div>
    </div>

    <Modal />
</div>
